* {
	box-sizing: border-box;
}
@media (min-width: 375px) and (max-width: 1440px) {
}

body {
	background-color: hsl(30, 38%, 92%);
	margin-top: 10px;
}
.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

.container {
	margin-inline: auto;
	background-color: hsl(0, 0%, 100%);
	border-radius: 10px;
	max-width: fit-content;
	width: 300px;
}
#myimage {
	width: 300px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
h1 {
	line-height: 28px;
	font-family: Fraunces;
	font-weight: 700;
}
p {
	width: 255px;
	font-size: 14px;
	line-height: 22px;
	font-family: Montserrat;
	font-weight: 500;
	color: hsl(228, 12%, 48%);
}
h5 {
	font-family: Fraunces;
	font-weight: 500;
	color: hsl(228, 12%, 48%);
}
.span1 {
	font-size: 1.7em;
	font-weight: 700;
	font-family: Fraunces;
	color: hsl(158, 36%, 37%);
}
.span2 {
	font-family: Montserrat;
	font-weight: 500;
	color: hsl(228, 12%, 48%);
	margin-left: 8px;
}
#mybutton {
	width: 270px;
	font-family: Montserrat;
	font-weight: 500;
	height: 40px;
	border-radius: 8px;
	border: none;
	margin-bottom: 10px;
	margin-left: 5px;
	background-color: hsl(158, 36%, 37%);
	color: hsl(0, 0%, 100%);
	cursor: pointer;
}
#mybutton:hover {
	background-color: hsl(228, 12%, 48%);
}
.content {
	margin-left: 10px;
	margin-bottom: 10px;
}
@media all and (min-width: 375px) and (max-width: 1440px) {
}
@media screen and (min-width: 1441px) {
}
